.img-responsive1 {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 31px;
    width: 60%;
}
.img-responsive1:hover + #title{
	/*opacity:0.1;*/
  color: #00CCCB;
  background-color: black;
  visibility: visible;
}
.img-responsive2:hover + #title{
	/*opacity:0.1;*/
  color: #00CCCB;
  background-color: black;
  visibility: visible;
}
.img-responsive1:hover{
  opacity: 0.1;
  -webkit-transition: opacity .3s ease-out;
	transition: opacity .3s ease-out;
}
.img-responsive2:hover {
  -webkit-transition: opacity .3s ease-out;
	transition: opacity .3s ease-out;
	opacity:0.1;

}
.img-responsive2 {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 16px;
    width: 80%;
}
.service-icon {
  background-color: #00CCCB;
  border: grey;
}
#title {
  /* display: flex; */
  /*color: black;
  background-color: #00CCCB;*/
  text-align: center;
  width: 130px;
  padding: 10px;
  position: absolute;
  /* display: none; */
  margin-left: 10px;
  visibility: hidden;
  border-radius: 45px;
}
@media (max-width:1499px){
  #title{
    margin-left: 25px;
    text-align: center;
    width: 130px;
    padding: 10px;
    position: absolute;
    visibility: hidden;
    border-radius: 45px;
    margin-top: 13px;
  }
}
@media (max-width:999px){
  #title{
    margin-left: 10px;
    text-align: center;
    width: 130px;
    padding: 10px;
    position: absolute;
    visibility: hidden;
    border-radius: 45px;
    margin-top: 0px;
  }
}
